include includes/mixins

doctype  

html(lang="en")
  head
    include includes/header.pug
    link(rel='stylesheet', href='/css/commands.css')
    script(src='/js/commands.js', defer)
  body
    include includes/navbar.pug
    .container-fluid.p-5.text-center.bg-transparent
      h1.display-3 Commands & Configuration
      p.lead View Commands & Configuration for Ban Utils
      hr
      
      section#commands
        .d-flex.justify-content-center
          #search.form-group.p-3
            input.form-control(type='search')
          button.btn.btn-sm
            i.fas.fa-search
      .row.px-4
        .col-sm-3.categories
          each category in categories
            +category(category)
        .col-sm-9
          each command in commands
            +command(command)
