include includes/header.pug
body
  include includes/navbar.pug
  
  .container-fluid.py-5.text-center
    h1.display-3 Ban Utils
    p.lead
      | Invite this bot into your server!
    button.btn.btn-dark(type='button') Add
